# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Migrations
**/migrations/*.py
**/migrations/*.pyc
!*/migrations/__init__.py

# OS
.DS_Store
Thumbs.db

# Coverage and testing
htmlcov/
.tox/
.coverage
coverage.xml
.pytest_cache/
nosetests.xml
test-results/

# MyPy and Pylint
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
pylint-report.txt
pylint-output.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
